/* STANDARD */
body			{ background-color: #eeeeee; margin-top: 0px; margin-left: 0px; margin-right: 0px;  
				  font-family: arial, helvetica, sans-serif; font-size: 11px; line-height: 1.4; color: #000000; }

font			{ font-family: arial, helvetica, sans-serif; font-size: 11px; color: #000000; }

ul				{ margin-top: 5px; margin-bottom: 0px; margin-left: 20px; padding-left: 0px; line-height: 1.0; list-style-image: url(../images/red_cross_bullet.gif); list-style-type: circle }
ol				{ margin-top: 5px; margin-bottom: 0px; margin-left: 30px; padding-left: 0px; line-height: 1.1; }

li				{margin-bottom: 2px;}
ul.level2 { list-style-type : square; }
ul.level3 { list-style-type : disk; font-size: 90%;}

sub				{ font-size: 90%; line-height: .75; }
sup				{ font-size: 90%; line-height: 1.25; }

blockquote		{margin-top: 5px; margin-bottom: 5px;}

/* CONTENT */
h1 	{ font-size: 13px; color: #000000; margin-top: 0px; margin-bottom: 5px; } /*tertiary heading*/
h2	{ font-size: 12px; margin-top: -2px; margin-bottom: -2px; color: #ffffff; } /* home page red heading*/
h3   	{ font-size: 12px; margin-top: -2px; margin-bottom: -2px; color: #000000; } /* home page gray heading */
h4   	{ font-size: 12px; margin-top: 0px; margin-bottom: 0px; color: #AB7700; } /* sub page: item headings on white */
h5   		{ font-size: 11px; margin-bottom: -15px; } /* not assigned yet */


div.contentDetail {font-family: arial, helvetica, sans-serif; font-size: 11px ; line-height: 1.4; color: black; margin-left:0; margin-right:0; margin-top:0px; margin-bottom:0px;}
div.contentDetail td {font-family: arial, helvetica, sans-serif; font-size: 11px ; line-height: 1.4; color: black; } /* this overcomes the 'compatibilty mode' behavior in ie*/
div.contentDetail font {font-family:inherit ! important; font-size: inherit ! important; }
div.contentDetail h4 {margin-bottom:0;}
/* this 'external link' style will work in mozilla and netscape 
div.contentDetail a[target=_blank] {padding-right:14px; background-image: url(../images/ICON_link_external.gif); background-repeat: no-repeat; background-position:center right;}*/
div.contentDetail ul {line-height:1.4;}
div.contentDetail ol {line-height:1.4;}

img.contentDetailImgLarge {margin-left:15px; margin-bottom:15px; margin-top:18px; float:right; border:0;}
div.contentDetail table.tableCaptionedImageLeft {float:left;border-collapse:collapse;border:0;margin:10px;}
div.contentDetail table.tableCaptionedImageRight {float:right;border-collapse:collapse;border:0;margin:10px;}
/*div.contentDetail table.tableCaptionedImageLeftFixed {width:300px;float:left;border-collapse:collapse;border:0;margin:10px;}
div.contentDetail table.tableCaptionedImageRightFixed {width:300px;float:right;border-collapse:collapse;border:0;margin:10px;}*/
div.contentDetail td.tableCaptionedImageImage {text-align:center;}
div.contentDetail td.tableCaptionedImageImage img { border:0; display:inline;}
div.contentDetail td.tableCaptionedImageCaption {padding:3px; }


div.contentDetailBody {margin-top:12px; margin-bottom:1em; }
div.contentDetailDate {}
div.contentDetailSource {}
div.contentDetailAuthor {}
div.contentDetailContact {margin-bottom:1em; white-space:pre;}
div.contentDetailDepartment {margin-top:1em;}
div.contentDetailDepartment ul {list-style-type:none; margin-left:0; margin-top:0;}
div.contentDetailDepartment ul li {margin:0;}
div.contentDetail img {display:inline;}

div.contentDetail h1 { font-size: 13px; color: #000000; margin-top: 0px; margin-bottom: 0; } 
div.contentDetail h2 { font-size: 12px; margin-top: 0; margin-bottom: 0; color: black; } 
div.contentDetail h3 { font-size: 12px; margin-top: 0; margin-bottom: 0; color: #000000; } 
div.contentDetail h4 { font-size: 16px; margin-top: 0px; margin-bottom: 0px; color: #AB7700; } /* content-title*/
div.contentDetail h5 { font-size: 14px; margin-top: 0px; margin-bottom: 0px; color: #AB7700;} /*content-subtitle*/
div.contentDetail h6 { font-size: 9px; color: black; margin-top: 0; margin-bottom: 0; } /* content-caption */
div.contentDetailLink {}

div.contentDetailNews {}
div.contentDetailNews div.contentDetailBody p:first-child{ display:inline; }
div.contentDetailNews img.contentDetailImgLarge { margin-top:5px; }

div.contentDetailResearchhighlight {}

div.contentDetailProfile {}

table.contentList {margin-top:10px; background-color:#ebebeb;}
table.contentList th.contentListHeadLeft {text-align:left; padding-left:10px; padding-top:3px; padding-bottom:3px; background-color:#cccccc; background-image: url(../images/S_gray_head_upper_left.gif); background-repeat: no-repeat; background-position: top left;}
table.contentList th.contentListHeadRight {text-align:left; background-color:#cccccc; background-image: url(../images/S_gray_head_upper_right.gif); background-repeat: no-repeat; background-position: top right; width:10px}
table.contentList td.contentListFootLeft {text-align:left; background-image: url(../images/S_gray_head_lower_left.gif); background-repeat: no-repeat; background-position: bottom left;}
table.contentList td.contentListFootRight {text-align:left; width:10px; background-image: url(../images/S_gray_head_lower_right.gif); background-repeat: no-repeat; background-position: bottom right;}
div#homeContentLeft table.contentList th.contentListHeadLeft {background-color:#990000; background-image: url(../images/S_red_head_upper_left.gif); background-repeat: no-repeat; background-position: top left;}
div#homeContentLeft table.contentList th.contentListHeadRight {background-color:#990000; background-image: url(../images/S_red_head_upper_right.gif); background-repeat: no-repeat; background-position: top right; }
div#homeContentLeft table.contentList th.contentListHeadLeft h4 {color: white;} 
div#homeContentLeft div.contentListHeadline { color:#990000;}
table.contentList th h4 { font-size: 14px; margin-top: 0px; margin-bottom: 0px; color: #000000;}
table.contentList td {font-family: arial, helvetica, sans-serif; font-size: 11px; line-height: 1.4; color: #000000; }
div.contentListHeadline {font-weight:bold;}
div.contentListDate {font-style:italic;}
div.contentListSummary {}
div.contentListSummary * {margin:0;}
div.contentListSummary br {display:none;}
table.contentList div.contentListPDF {display:inline;}


table.contentListSmall {}
table.contentListSmall div.contentListDate {display:inline; font-weight:bold;}
table.contentListSmall div.contentListHeadline {display:inline; font-weight:normal;}
table.contentListSmall div.contentListSummary {display:inline;}
table.contentListSmall div.contentListSource {display:inline;}
/*table.contentListSmall a:link { font-size: 11px;  font-weight: normal; }
table.contentListSmall a:visited { font-size: 11px; font-weight: normal; }*/
table.contentListSmall div.contentListPDF {display:inline;}
table.contentListSmall td.contentListSmallCell {padding-left:10px;padding-right:10px; padding-top:3px; padding-bottom:2px;}

/* for the navigation at the footer of sub pages */
.textnav			{ font-size: 10px; font-family: arial, helvetica, sans-serif; color: #cc7f7f; text-decoration: none; font-weight: normal; line-height: 1.2; }
a.textnav			{ color: #990000; text-decoration: none; }
a.textnav:active	{ color: #cc9900; }
a.textnav:visited	{ color: #990000; text-decoration: none; }
a.textnav:hover		{ color: #cc9900; text-decoration: none; }


/* for regular links on a page. don't apply any class, just the normal href */
a:active		{ color: #cc9900; text-decoration: none; }
a:link			{ color: #990000; text-decoration: none; }
a:visited		{ color: #990000; text-decoration: none; }
a:hover			{ color: #cc9900; text-decoration: none; }

table.contentListW {margin-top:0px; background-image: url(../images/dark_bg.gif);}
table.contentList {margin-top:0px; background-image: url(../images/light_bg.gif);}
TD.foot {background-image: url(../images/foot_bg.gif);}


TD.diagonals {padding-top:0px; padding-right:5px; padding-left:5px; padding-bottom:5px; background-image: url(../images/diagonal_tile.gif);}
TD.regularcontent {padding-top:0px; padding-right:5px; padding-left:5px; padding-bottom:5px; }
TD.fullsize { width: 585px; }
table.newsbox {background-color: #ffffff; border: 1 solid #CCCCCC;}
table.newsbox td {font-family: arial, helvetica, sans-serif; font-size: 11px; line-height: 1.4; color: #000000; }

ul.newsbox { list-style-image: url(../images/red_arrow_on_white.gif); list-style-type: circle }

DIV.hr { height: 1px; background-color: #EBEBEB; color: #FFFFFF; width: 90%; padding-bottom:10px; align: center;}
DIV.hr2 { height: 1px; background-color: #FFFFFF; color: #E0E0E0; width: 82%; padding-bottom:0px; padding-top:0px; padding-left:10px; align: center;}

.red_rule {	font-family: Verdana, Arial, Helvetica, sans-serif;	font-weight: bold;	font-size: 18px;	color: #cccccc;}
.homepage_title { font-size: 18px; margin-top: 0px; margin-bottom: 0px; color: #990000; }/*homepage red heading */
