body 				{ font-family: arial, helvetica; background: white;
					  font-size: 11pt; margin: 0px;}

.noprint, #nav, #subhead, #addressbox,  .textnav, .tertnav, select, input, #footer		{ display: none; }


#head				{ width: 760px; }


#Hmain				{ height: 199px; width: 277px; margin-bottom: 30px }


#col2tdprint		{ position: absolute; left: 277px; }
#col2print			{ position: absolute; top: 5px; }
#col4print			{ position: absolute; left: 663px;}



#Haud				{ position: absolute; left: 286px; font-size: 9px; }

#homeContentRight		{ position: absolute; top: 335px; left: 380px; width: 280px }


.Hleft				{ width: 180px; }
.Hright				{ width: 350px; position: relative; left: -60px; }

#content, .copyright, .breadcrumbs { width: 100%; margin-top: 15px;
					  padding: 0; padding-left: 10px;
					  border: 0;
					  float: none !important;
					  color: black; 
					  background: white; }
					
a:link, a:visited 	{ color: #0033ff;
					  background: transparent;
					  font-weight: bold;
					  text-decoration: underline; }
					  
					  
img.contentDetailImgLarge {margin-left:15px; margin-bottom:15px; margin-top:18px; float:right; border:0;}
div.contentDetail table.tableCaptionedImageLeft {float:left;border-collapse:collapse;border:0;margin:10px;}
div.contentDetail table.tableCaptionedImageRight {float:right;border-collapse:collapse;border:0;margin:10px;}
/*div.contentDetail table.tableCaptionedImageLeftFixed {width:300px;float:left;border-collapse:collapse;border:0;margin:10px;}
div.contentDetail table.tableCaptionedImageRightFixed {width:300px;float:right;border-collapse:collapse;border:0;margin:10px;}*/
div.contentDetail td.tableCaptionedImageImage {text-align:center;}
div.contentDetail td.tableCaptionedImageImage img { border:0; display:inline;}
div.contentDetail td.tableCaptionedImageCaption {padding:3px; }

div.contentDetail {font-family: arial, helvetica, sans-serif; font-size: 11px ; line-height: 1.4; color: black; margin-left:0; margin-right:0; margin-top:10px; margin-bottom:0px;}
div.contentDetail h1 { font-size: 13px; color: #000000; margin-top: 0px; margin-bottom: 0; } 
div.contentDetail h2 { font-size: 12px; margin-top: 0; margin-bottom: 0; color: black; } 
div.contentDetail h3 { font-size: 12px; margin-top: 0; margin-bottom: 0; color: black; } 
div.contentDetail h4 { font-size: 16px; margin-top: 0px; margin-bottom: 0px; color: black; } /* content-title*/
div.contentDetail h5 { font-size: 14px; margin-top: 0px; margin-bottom: 0px; color: black;} /*content-subtitle*/
div.contentDetail h6 { font-size: 9px; color: black; margin-top: 0; margin-bottom: 0; } /* content-caption */

TD.fullsize { width: 100%; }
